progress{
    border-radius: 10px;
    height: 5px;
    /*background: var(--color-background-loading-bar-gen-ai-tey70i, linear-gradient(90deg, #b8e7ff 0, #09f 10%, #5c7fff 24%, #8575ff 50%, #962eff 76%, #09f 90%, #b8e7ff 100%));*/
    /*background-size: 200% 100%;*/
    /*background-position: 0 100%;*/
    /*animation: loaderbar-keyframes 3s cubic-bezier(0,.08,1,.82) infinite forwards, var(--motion-keyframes-fade-in-0r842q, awsui-fade-in-35003c) var(--motion-duration-complex-tbdo30, .25s) var(--motion-easing-expressive-o5jqzg, cubic-bezier(.84,0,.16,1));*/
}

progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: #aaa;
}
progress::-webkit-progress-value {
    border-radius: 10px;
    background: var(--color-background-loading-bar-gen-ai-tey70i, linear-gradient(90deg, #b8e7ff 0, #09f 10%, #5c7fff 24%, #8575ff 50%, #962eff 76%, #09f 90%, #b8e7ff 100%));
    background-size: 200% 100%;
    background-position: 0 100%;
    animation: loaderbar-keyframes 3s cubic-bezier(0,.08,1,.82) infinite forwards, var(--motion-keyframes-fade-in-0r842q, awsui-fade-in-35003c) var(--motion-duration-complex-tbdo30, .25s) var(--motion-easing-expressive-o5jqzg, cubic-bezier(.84,0,.16,1));
}
progress::-moz-progress-bar {
    border-radius: 10px;
    background: var(--color-background-loading-bar-gen-ai-tey70i, linear-gradient(90deg, #b8e7ff 0, #09f 10%, #5c7fff 24%, #8575ff 50%, #962eff 76%, #09f 90%, #b8e7ff 100%));
    background-size: 200% 100%;
    background-position: 0 100%;
    animation: loaderbar-keyframes 3s cubic-bezier(0,.08,1,.82) infinite forwards, var(--motion-keyframes-fade-in-0r842q, awsui-fade-in-35003c) var(--motion-duration-complex-tbdo30, .25s) var(--motion-easing-expressive-o5jqzg, cubic-bezier(.84,0,.16,1));
}

@keyframes loaderbar-keyframes {
    0% {
        background-position: 0 0
    }

    to {
        background-position: -200% 0
    }
}

@keyframes awsui_searchbar-rtl_pac4k_foszn_1 {
    0% {
        background-position: -200% 0
    }

    to {
        background-position: 0 0
    }
}